<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <title>Twitter Tribe</title>
  <script src="js/vendor/jquery-2.1.3.min.js"></script>
</head>
<body>
  <div>
  </div>
  <script>
    $(document).ready(function(){
      $.when($.get('/twitter_api_call'), $.get('/database_records').done(function()){
            $.get('/compare_external_to_db')
    });
  </script>
</body>
</html>
