<html>
  <head>
  </head>
  <body>
    <table>
      <% unfollowers.each do |user| %>
        <tr>
          <td>
            <%= user %>
          </td>
        </tr>
      <% end %>
    </table>
  </body>
</html>
